{% extends 'base.html.twig' %}


{% block body %}

<h1>Ajouter un nouveau jeu vidéo</h1>

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.genre) }}
    {{ form_row(form.save) }}
{{ form_end(form) }}

<p>
    <a href="{{ path('app_video_game') }}">Retour à la liste des jeux</a>
</p>

{% endblock %}
